# Laravel
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db

# Vercel
.vercel

# IDE
.idea
.vscode
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local development
.phpunit.cache
.phpunit.result.cache

# Vercel specific
.vercel_build_output/
.vercel_build_output/
!.vercel_build_output/static/**/*
